/*
.block { ... }
.block__element { ... }
.block--modifier { ... }
*/


body { background: rgba(168, 168, 168, 0.61); }

.card {
	margin: 1em;
    max-width: 260px;
    min-height: 412px;
	padding: 1.5em;
	box-shadow: 0 10px 30px -10px rgba(0,0,0,.45);
	
	&__body {
		opacity: .5;
    }
    
    &--light {
        background: #eee;
    }
    
    &--dark {
        background: #333;
        color: white;
    }
}

.cards{
    display: flex;
}