/*
.block { ... }
.block__element { ... }
.block--modifier { ... }
*/
body {
  background: rgba(168, 168, 168, 0.61);
}

.card {
  margin: 1em;
  max-width: 260px;
  min-height: 412px;
  padding: 1.5em;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
          box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
}

.card__body {
  opacity: .5;
}

.card--light {
  background: #eee;
}

.card--dark {
  background: #333;
  color: white;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */